.cache/
.clangd/
.fleet/
.idea/
.vs
.vscode
.DS_Store
/profile_chart_*.html
/stats*.html
/snapshot.bin
/*.jor
/detlog.txt
*.spv
*.dxil
*.metallib
/Assets/*.hair
/Assets/Shaders/VK/*.spv
/Assets/Shaders/MTL/*.metallib
bin
bin-int
JoltPhysics.vcxproj
JoltPhysics.vcxproj.filters
JoltPhysics.vcxproj.user
