.vs
.vscode
.DS_Store
/profile_chart_*.html
/stats*.html
/snapshot.bin
/*.jor
/detlog.txt
/Assets/Shaders/VK/*.spv
/Assets/Shaders/MTL/*.metallib
bin
bin-int
JoltPhysics.vcxproj
JoltPhysics.vcxproj.filters
JoltPhysics.vcxproj.user
